<article class="home__container">
    <h1>🐶 DogIn </h1>
    <h4>Your place to know everything about dogs</h4>
    <section class="home__main__content">
        <p>
            The DogIn project is a simple project to show you anything you want to know about the existing dog breeds.
        </p>            
        <img class="image__dog" src="/images/home_dog.png" alt="Sympathetic dog from home page">
        <p>
            It uses <a href="https://docs.thedogapi.com/" target="_blank">The Dog Api</a> to retrieve all the information you may need.
        </p>
    </section>
</article>
