/* You can add global styles to this file, and also import other style files */
// colors
// B00000
// 808080
// FFFFFF

body {
    background-color:#B00000;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
}


